{{! Template from `discourse` with GPL-2.0-only license }}
{{! Repo URL: git@github.com:discourse/discourse.git }}
{{#styleguide-example title="spinner - small"}}
  <div class="spinner small"></div>
{{/styleguide-example}}

{{#styleguide-example title="spinner - regular"}}
  <div class="spinner"></div>
{{/styleguide-example}}
