{{! Template from `emberclear` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear.git }}
<section class='container text-center'>
  <Pod::AddFriend::AddContact />
</section>
