{{! Template from `ember-connection-aware-media` with MIT license }}
{{! Repo URL: https://github.com/rajasegar/ember-connection-aware-media }}
<div class="placeholder">
  <p class="placeholder__caption">{{alt}}</p>
  <p>(Image currently not available)</p>
</div>
