{{! Template from `select-kit` with GPL-2.0-only license }}
<span class="name">
  {{label}}
</span>

{{#if item.colors}}
  <div class="palettes" style={{backgroundColor}}>
    {{palettes}}
  </div>
{{/if}}
