{{! Template from `cargo` with (MIT OR Apache-2.0) license }}
{{! Repo URL: git+https://github.com/rust-lang/crates.io.git }}
<button type="button" ...attributes {{on "click" this.copy}}>
  {{yield}}
</button>