{{! Template from `lisweb-frontend` with MIT license }}
{{! Repo URL: https://github.com/hotsoft/lisweb_frontend/ }}
<h2>Editar atendimento requisição</h2>
<AtendimentoRequisicoes::AtendimentoRequisicoesForm @model={{this.model}}/>
