{{! Template from `@emberclear/ui` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear }}
<span class='ellipsis-loader' ...attributes>
  <span>•</span>
  <span>•</span>
  <span>•</span>
</span>
