{{! Template from `ember-scrollable` with MIT license }}
{{! Repo URL: https://github.com/alphasights/ember-scrollable }}
<div class="drag-handle {{if showHandle 'visible'}}" onmousedown={{action 'startDrag'}} style={{handleStyles}}></div>
