{{! Template from `admin` with GPL-2.0-only license }}
{{emoji-value-list setting=setting values=value}}
<div class="desc">{{html-safe setting.description}}</div>
{{setting-validation-message message=validationMessage}}
