{{! Template from `travis` with MIT license }}
{{! Repo URL: https://github.com/travis-ci/travis-web }}
<div class="loading-page">
  <TopBar />
  <FlashDisplay />
  <div class="main">
    {{yield}}
  </div>
</div>
