{{! Template from `select-kit` with GPL-2.0-only license }}
{{#if collection.content}}
  <ul class="select-kit-errors-collection">
    {{#each collection.content as |item|}}
      <li class="select-kit-error">{{item}}</li>
    {{/each}}
  </ul>
{{/if}}
