{{! Template from `ember-observer` with MIT license }}
<div>
  {{yield
    (component "exclusive-button"
      selectedValue=this.selectedValue
      updateSelectedValue=this.updateSelectedValue
    )
  }}
</div>
