{{! Template from `@emberclear/ui` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear }}
{{!-- make a required attribute modifier? --}}
<a href='' target='_blank' rel='noopener noreferrer' ...attributes>
  {{yield}}
</a>
