{{! Template from `@emberclear/ui` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear }}
<div data-test-focus-card class='row row-center'>
  <div class='col-12 col-auto flex-center' ...attributes>
    <h1 class='title'>{{@title}}</h1>
    {{yield}}
  </div>
</div>
