{{! Template from `emberclear` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear.git }}
<App::Container::Main>
  <div class='hero text-light text-center'>
    {{yield}}
  </div>
</App::Container::Main>
