{{! Template from `@emberclear/ui` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear }}
<span
  class='
    hover-tip
    has-text-grey-darker has-background-white-ter
    {{@class}}
    {{@animationClasses}}'
>
  {{yield}}
</span>
