{{! Template from `@emberclear/ui` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear }}
<span class='flex-row justify-content-center algin-items-center'...attributes>
  {{#if @isOpen}}
    <FaIcon @icon='angle-down' />
  {{else}}
    <FaIcon @icon='angle-right' />
  {{/if}}
</span>
