{{! Template from `cargo` with (MIT OR Apache-2.0) license }}
{{! Repo URL: git+https://github.com/rust-lang/crates.io.git }}
<PageHeader @title="Install Cargo" @icon="download"/>

<p>
  Redirecting you to <code>https://doc.rust-lang.org/cargo/getting-started/installation.html</code>&#8230;
</p>
