{{! Template from `travis` with MIT license }}
{{! Repo URL: https://github.com/travis-ci/travis-web }}
<span class="loading-indicator">
  <i></i>
  {{#unless this.single}}
    <i></i><i></i>
  {{/unless}}
</span>
