{{! Template from `select-kit` with GPL-2.0-only license }}
{{#if collection.content.shouldShowMoreTags}}
  <div class="more-tags">
    {{i18n "select_kit.components.tag_drop.filter_for_more"}}
  </div>
{{/if}}
