{{! Template from `ember-3d-nav` with MIT license }}
{{! Repo URL: https://github.com/shipshapecode/ember-3d-nav }}
<button class="nav-trigger" type="button" {{on "click" (fn @toggleMenu)}}>
  <span class="nav-trigger-line"></span>
</button>