{{! Template from `cargo` with (MIT OR Apache-2.0) license }}
{{! Repo URL: git+https://github.com/rust-lang/crates.io.git }}
<nav ...attributes>
  <ul local-class="list">
    {{yield (hash Tab=(component "nav-tabs/tab"))}}
  </ul>
</nav>