{{! Template from `travis` with MIT license }}
{{! Repo URL: https://github.com/travis-ci/travis-web }}
<p class="notice-banner--yellow">
  <SvgImage @name="icon-flag" @class="icon-flag" />
  <span class="label-align">
    {{yield}}
  </span>
</p>
