{{! Template from `travis` with MIT license }}
{{! Repo URL: https://github.com/travis-ci/travis-web }}
<div class="flip-num {{this.digitClass}}">
  <img src="../images/landing-page/oss-num-{{this.digit}}.svg" />
</div>
