{{! Template from `discourse` with GPL-2.0-only license }}
{{! Repo URL: git@github.com:discourse/discourse.git }}
<label class="poll-breakdown-chart-label">{{@group}}</label>
<canvas class="poll-breakdown-chart-chart"></canvas>
