{{! Template from `travis` with MIT license }}
{{! Repo URL: https://github.com/travis-ci/travis-web }}
<div class="wrapper centered">
  <TopBar />
  <FlashDisplay />
  <div id="main" class="main" role="main">
    <div class="profile-page inner">
      {{yield}}
    </div>
  </div>
</div>
