{{! Template from `emberclear` with GPL-3.0 license }}
{{! Repo URL: https://github.com/NullVoxPopuli/emberclear.git }}
<section class='hero'>
  <div class='hero-body'>
    <div class='container' data-test-qr-container>
      <Pod::QR />
    </div>
  </div>
</section>
