{{! Template from `discourse` with GPL-2.0-only license }}
{{! Repo URL: git@github.com:discourse/discourse.git }}
{{#if showStaffCount}}
  <div class="staff-count">
    {{i18n "wizard.staff_count" count=field.value}}
  </div>
{{/if}}
