{{! Template from `cargo` with (MIT OR Apache-2.0) license }}
{{! Repo URL: git+https://github.com/rust-lang/crates.io.git }}
<div local-class="stats-value" ...attributes>
  <span local-class="value" data-test-value>{{@value}}</span>
  <span local-class="label">{{@label}}</span>
  {{svg-jar @icon role="img" aria-hidden="true" local-class="icon"}}
</div>