{{! Template from `@adopted-ember-addons/ember-stripe-elements` with MIT license }}
{{! Repo URL: https://github.com/adopted-ember-addons/ember-stripe-elements }}
<div role="mount-point"></div>
{{#if hasBlock}}
  {{yield this.stripeElement this.stripeError}}
{{/if}}
