{{! Template from `discourse` with GPL-2.0-only license }}
{{! Repo URL: git@github.com:discourse/discourse.git }}
{{#each iconIds as |id|}}
  <div class="styleguide-icon">
    {{d-icon id}}
    <span>{{id}}</span>
  </div>
{{/each}}
