{{! Template from `discourse` with GPL-2.0-only license }}
{{! Repo URL: git@github.com:discourse/discourse.git }}
<div class="preview-area">
  <canvas
    width={{elementWidth}}
    height={{elementHeight}}
    style={{canvasStyle}}
  >
  </canvas>
</div>
