{{! Template from `admin` with GPL-2.0-only license }}
{{site-settings-image-uploader imageUrl=value placeholderUrl=setting.placeholder type="site_setting"}}
<div class="desc">{{html-safe setting.description}}</div>
