{{! Template from `select-kit` with GPL-2.0-only license }}
{{avatar item imageSize="tiny"}}

<span class="username">{{format-username item.username}}</span>

{{#if item.name}}
  <span class="name">{{item.name}}</span>
{{/if}}
