{{! Template from `ember-inspector` with MIT license }}
{{! Repo URL: https://github.com/emberjs/ember-inspector }}
<div class="whats-new">
  <h1>What's New in Ember Inspector</h1>
  <p>LOADING...</p>
</div>