{{! Template from `discourse` with GPL-2.0-only license }}
{{! Repo URL: git@github.com:discourse/discourse.git }}
<label>
  {{input
    type="checkbox"
    class="wizard-checkbox"
    checked=field.value
  }}
  {{field.placeholder}}
</label>
